<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
<title>API E Real</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script>

<!-- ***  get bd script section ***-->
var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
	if (this.readyState == 4 && this.status == 200) {
		var myArr = JSON.parse(this.responseText);
		disp_db_desc(myArr);
		}
	};
xhttp.open("GET", "bd_description/", true);
xhttp.send();

function disp_db_desc(arr) {
    var out = "<tr><th>medida</th><th>data ini</th><th>data fin</th>";
    var i;
    for(i = 0; i < arr.description.length; i++) {
        out += '<tr> <td>' + arr.description[i]['name'] + '</td><td>' +
            arr.description[i]['f_data'] +
            '</td><td>'+arr.description[i]['l_data']+'</td></tr>';
    }
	out='<table class="w3-table w3-striped w3-border">'+out+'</table>'
    document.getElementById("description_db").innerHTML = out;
}


<!-- ***  get Forecast Eolic  ***-->

var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
	if (this.readyState
        == 4 && this.status == 200) {
	var myArr = JSON.parse(this.responseText);
        disp_forecast_eo(myArr);
    	}
};
xhttp.open("GET", "forecast_eo/", true);
xhttp.send();

function disp_forecast_eo(arr) {
    var 
    out = "";
    var i;
    for(i = 0; i < arr.r2.length; i++) {
         out += '<tr> <td>' + arr.r2[i]['name'] + '</td><td>' +
            arr.r2[i]['f_data'] +
            '</td><td>'+arr.r2[i]['l_data']+'</td></tr>';
    }
	out='<table>'+out+'</table>'
   document.getElementById("g_eo_div").innerHTML = out;
}


<!-- ***  get forecast of wind   *** -->

function carga_forecast_wind(){
    conn="sentiment/"+document.getElementById("id_chat").value+'/';
    actualiza_sentiments_chat(conn);
    actualiza_imagen();
    conn= "message/"+document.getElementById("id_chat").value+'/';
    muestra_mensajes("chat",conn,"user");
}

function muestra_mensajes(tipo,conn,consulta){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            disp_message(myArr,tipo,consulta);
        }
    };
    xhttp.open("GET",conn , true);
    xhttp.send();
}

function disp_message(arr,tipo,consulta) {
    var out = "<tr><th>"+consulta+"</th><th>message</th>";
    var i;
    for(i = 0; i < arr.messages.length; i++) {
        out += '<tr> <td>' + arr.messages[i][consulta] + '</td><td>' +
            arr.messages[i]['content'] + '</td><tr>';
    }
	out='<table>'+out+'</table>'
    document.getElementById("messages").innerHTML = out;
}


</script>
</head>

<body>
<div class="w3-container w3-teal">
<h1> API Energía Real </h1>
</div>
<div class="w3-container w3-leftbar w3-sand w3-serif">
    <p><i>    Pronóstico de energía Renovable corto plazo - España </p></i>
</div>

<div class="w3-container">
    <div id="Proceso">
        <img src="proceso_diagrama">
    </div>
</div>

<div class="w3-container">
    <div class="w3-card-1 w3-sand">
        <h3>Datos</h3>
    </div>
    
    <div id="description_db"></div>
    <br>
    <button type="button" onclick="carga_desc_datos()">load</button>
    <img src="datos_graph" id="tubo_datos" alt="Proceso de Pronóstico de generación" > 
</div>


<div class="w3-container">
    <h4>cluster</h4>
    <div id="mapid"></div>
    <button type="button" onclick="consulta_estaciones()">load</button>
</div>


<div class="w3-container">
<h3>Pronóstico generación eólica</h3>
<button type="button" onclick="carga_gen_eo()">load</button>
<img src="g_eo_graph" id="g_eo_sent" alt="Pronóstico generación eólica" > 
<div id="g_eo_div"></div>
</div>


<div class="w3-container">
<h3>Pronóstico generación fotovoltaica</h3>
<button type="button" onclick="carga_gen_fv()">load</button>
<img src="g_fv_graph" id="g_fv_sent" alt="Pronóstico generación fotovoltaica" > 
<div id="g_fv_div"></div>
</div>



</body>

<script>

var mymap = L.map('mapid').setView([35,-7], 4);
    
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
}).addTo(mymap);


function consulta_estaciones(){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            muestra_estaciones(myArr);
        }
    };
    xhttp.open("GET",'estaciones/' , true);
    xhttp.send();
}

function muestra_estaciones(myArr){
   for(let i = 0; i < myArr.estaciones.length; i++) {
       marker = new
    L.marker([myArr.estaciones[i]["lat"],myArr.estaciones[i]["lon"]]).addTo(mymap);
   }
}

</script>
</html> 
